body {
    margin: 0px;
    background-color: #44475a;
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    font-style: normal;

}
.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
article, aside, section {
    margin-top: 4rem;
    padding-left: 4rem;
    color: #bd93f9;
    padding-bottom: 6rem;
    margin-bottom: 24rem;
}
.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
h1, h2 {
    padding-bottom: 1rem;
    color: #f8f8f2;
    font-size: large;
    display: inline;
}
h1 {
    font-size: 2.5em;
    font-family: "Rubik Mono One", monospace;
    transition: opacity 4s ease-in-out 1s;
}
h1:hover {
    opacity: 0.01;
}
h2 {
    font-size: 2em;
}
nav {
    padding-top: 1rem;
    background-color: #282a36;
    padding-left: 1rem;
    padding-right: 4rem;
}
nav a {
    transition: font-size 2s ease-out 1s;
}
nav a:hover {
    text-decoration: underline;
    color: #bd93f9;
    font-size: 300%;
}
a {
    font-weight: bold;
    color: #50fa7b;
    font-size: 1.75rem;
    display: inline;
    padding-right: 30px;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #bd93f9;
}

li {
    list-style-type: none;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
aside ul li {
    display: inline-block;
}
ul {
    padding-inline-start: 16px;
}
i {
    font-size: 4em;
}
footer {
    padding-top: 2rem;
    padding-left: 4rem;
    padding-bottom: 2rem;
    color: #f8f8f2;
    font-size: 1.5em;
    background-color: #ff79c6;
}
 
article {
    width: 52rem;
    margin-right: 4rem;
}

aside {

    border-left: 4px solid #f8f8f2;;
}

p {
    font-size: 1.5em;
    line-height: 1.6;
}

p strong {
    color: #ffb86c;
    transition: color 3s linear 2s;
}

p strong:hover {
    color: #f8f8f8f3;
}
